[role="switch"] {
  --item-inline-size: 24px;
  --switch-padding: 2px;
  --switch-border-width: 1px;
  --bg-color: var(--color-primary-grey-lighter);
  --border-color: var(--color-primary-grey-light);
  --item-color: var(--color-primary-white);

  background: var(--bg-color);
  border: solid var(--switch-border-width) var(--border-color);
  border-radius: var(--border-radius-larger);
  cursor: pointer;
  position: relative;
  inline-size: calc(var(--item-inline-size) * 2 + var(--switch-padding) * 2 + var(--switch-border-width) * 2);
  block-size: calc(var(--item-inline-size) + var(--switch-padding) * 2 + var(--switch-border-width) * 2);

  & > * {
    background-color: var(--item-color);
    border-radius: 50%;
    padding: var(--spacing-1);
    inline-size: var(--item-inline-size);
    block-size: var(--item-inline-size);
    transition: transform var(--transition-time-quick);
    position: absolute;
    inset-block-start: var(--switch-padding);
    inset-inline-start: var(--switch-padding);
  }

  & > :nth-child(1) {
    visibility: visible;
  }

  & > :nth-child(2) {
    visibility: hidden;
  }

  & > .light {
    color: var(--color-light);
  }

  & > .dark {
    color: var(--color-dark);
  }

  &[aria-checked="true"] {
    & > * {
      transform: translateX(100%);
    }

    & > :nth-child(1) {
      visibility: hidden;
    }

    & > :nth-child(2) {
      visibility: visible;
    }
  }
}

:root[data-theme="dark"] {
  [role="switch"] {
    --bg-color: var(--color-primary-grey-dark);
    --border-color: var(--color-primary-grey-darker);
    --item-color: var(--color-primary-grey-lightest);
  }
}