@use "../../styles/variables";

.colorIcon {
  inline-size: 1em;
  block-size: 1em;
}

.actionButton {
  &:has([aria-expanded="false"]) + * {
    display: none;
  }

  @for $i from 0 through variables.$total-sudoku-colors {
    [data-color="#{$i}"] .colorIcon {
      background-color: var(--color-sudoku-#{$i + 1});
    }
  }
}