.cell {
  --cell-bg-color: var(--color-content);
  --cell-text-color: var(--color-content-text);
  --cell-border-color: var(--color-content-text);
  --cell-font-weight: var(--font-weight-normal);
  --cell-font-size: var(--font-size-4);

  position: relative;

  & > button {
    @for $i from 0 through 5 {
      &[data-color="#{$i}"] {
        --cell-text-color: var(--color-sudoku-#{$i + 1});
      }
    }
    
    &.initial {
      --cell-font-weight: var(--font-weight-bold);
      --cell-text-color: var(--color-content-hover-text);
    }

    &[aria-disabled="true"],
    &[aria-expanded="true"] {
      --cell-bg-color: var(--color-content-hover);
    }

    &.error {
      --cell-text-color: var(--color-error);
    }

    &.finished {
      --cell-border-color: var(--color-success);
      --cell-text-color: var(--color-success);
    }

    background: var(--cell-bg-color);
    color: var(--cell-text-color);
    border: solid 1px var(--cell-border-color);
    border-radius: 0;
    display: block;
    inline-size: 100%;
    block-size: 100%;
    font-size: var(--cell-font-size);
    font-weight: var(--cell-font-weight);
    line-height: 0;
    padding: 0;

    &:hover,
    &:active[aria-disabled="false"],
    &[aria-disabled="true"] {
      background: var(--cell-bg-color);
      border-color: var(--cell-border-color);
      color: var(--cell-text-color);
    }

    &[aria-expanded="true"]::before {
      content: unset;
    }
  }

  [role="listbox"] {
    display: none;
    position: absolute;
    inset-block-start: calc(100% + 1px);
    inset-inline-start: 0;
    z-index: 2;
    box-shadow: 0 0 10px var(--color-content-shadow);
    border: solid 1px var(--color-content-border);
    background-color: var(--cell-bg-color);

    &.right {
      inset-inline-start: unset;
      inset-inline-end: 0;
    }

    &.top {
      inset-block-start: unset;
      inset-block-end: 100%;
    }

    & > button {
      background-color: var(--cell-bg-color);
      color: var(--cell-text-color);
      border: 0;
      border-radius: 0;
      padding: var(--spacing-4);
      font-size: var(--font-size-2);
      line-height: 0;

      &:hover {
        background-color: var(--color-content-hover);
        color: var(--color-content-hover-text);
      }
    }
  }

  [aria-expanded="true"] + [role="listbox"] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@container (min-inline-size: 371px) and (max-inline-size: 450px) {
  .cell {
    --cell-font-size: var(--font-size-3);
  }
}

@container (max-inline-size: 370px) {
  .cell {
    --cell-font-size: var(--font-size-2);
  }
}