.cell {
  --cell-bg-color: var(--color-content);
  --cell-text-color: var(--color-content-text);
  --cell-border-color: var(--color-content-text);
  --cell-font-weight: var(--font-weight-normal);

  &.initial {
    --cell-font-weight: var(--font-weight-bold);
    --cell-text-color: var(--color-content-hover-text);
  }

  &[aria-disabled="true"] {
    --cell-bg-color: var(--color-content-hover);
  }

  background: var(--cell-bg-color);
  color: var(--cell-text-color);
  border: solid 1px var(--cell-border-color);
  border-radius: 0;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  font-size: var(--font-size-4);
  font-weight: var(--cell-font-weight);
  line-height: 0;
  padding: 0;

  &:hover,
  &:active[aria-disabled="false"],
  &[aria-disabled="true"] {
    background: var(--cell-bg-color);
    border-color: var(--cell-border-color);
    color: var(--cell-text-color);
  }
}

@container (min-inline-size: 371px) and (max-inline-size: 450px) {
  .cell {
    font-size: var(--font-size-3);
  }
}

@container (max-inline-size: 370px) {
  .cell {
    font-size: var(--font-size-2);
  }
}