button:not([role="switch"]) {
  background: var(--color-content);
  color: var(--color-content-text);
  border: solid 1px var(--color-content-border);
  padding-inline: var(--spacing-4);
  padding-block: var(--spacing-2);
  border-radius: var(--border-radius-large);
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  cursor: pointer;
  outline-color: var(--color-primary);
  white-space: nowrap;

  &:hover {
    background: var(--color-content-hover);
    border-color: var(--color-content-hover-border);
    color: var(--color-content-hover-text);
  }

  &:active {
    background: var(--color-content);
    color: var(--color-content-text);
    border-color: var(--color-content-border);
  }

  &[aria-expanded] {
    display: flex;
    gap: var(--spacing-1);
    align-items: center;
    position: relative;

    &::after {
      content: '';
      background-color: currentColor;
      inline-size: 0.5em;
      block-size: 0.3em;
      display: inline-block;
      clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    }
  }

  &[aria-expanded="true"] {
    border-bottom: 0;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
    padding-block-end: var(--spacing-3);

    &:hover {
      background: var(--color-content);
      color: var(--color-content-text);
      border-color: var(--color-content-border);
    }

    &::after {
      clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    }

    &::before {
      content: '';
      position: absolute;
      background-color: var(--color-content);
      inset-inline-start: 0;
      inset-inline-end: 0;
      inset-block-end: -1px;
      block-size: 1px;
      z-index: calc(var(--z-index-max) + 1);
    }
  }
}

app-action-button:has([aria-expanded="false"]) + * {
  display: none;
}